
    /*width: ancho;
    height: largo;*/


/*reglas
selectores
declaraciones
propiedades
valores*/


/*selector de etiquetas header - section - nav */
/* header {
    background: pink;
    color: red;
} /*

/* slector descendentes */
/*body header div nav li a */

/*slector de clase . */

/* . link */

/*selector de id # */
/* #portafolio*/

/*COLORES */
/*gris oscuro =#1d252c*/
/*gris claro =#626262*/
/*background gris =#1b2127*/
/*celeste = #026fff*/


/*PARTA AGREGAR IMAGENES DE FONDO*/
/*background-image: url (../imagenes/heri.jpg);*/
/*background-position-x: right ;= esto es la posision de la imagen */

/*Bordes
border-top:10px solid red;
border-right:10px solid green ;
border-left:10px solid orange;
border-bottom:10px solid pink;
border-color: red;= esto es para los bordes en general
border-tpo-"left-radius:50px;=esto lo q ase es darle tamaño a cada esquina"*/
 
/*MARGENES 
margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;*/
/*CAJA
box-sizing: border-box;esto ase que la caja tenga un mismo tamaño
no importa si aumentamos alto o ancho*/





body {
    font-family: "source sans pro", sans-serif;
    margin: 0px;
    background: #263b50; 

}
h1,h2,h3,h4,h5,h6{
    font-family: "Fjalla one", sans-serif ;
    font-weight: normal;
    /*font-style: italic;*/
}

h1 {
    font-size: 40px;
 line-height: 1.5em;
letter-spacing: -.2px;
color: white;
margin: 0;
/* margin: 100px 150px 70px 30px; */
/*text-transform: uppercase;*/
/*text-decoration: underline;*/
justify-content: flex-start;
}

h1 strong{ 
    color: #026fff;
}
h2 {
    color:#026fff;
    text-transform: uppercase;
    font-family: "source sans pro", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero{
    height: 300px;
    /* background-image: url("https://htmldog.com/rAF/htmldog.png") ; */
    /* background-size: 450px 250px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right ; */
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-image{
    object-fit: cover;
}

.portfolio {
    background: #263b50;
    padding: 20px;|
}

.project {
    border: 1px solid gray;
    border-radius: 30px;
    margin-bottom: 15px;
    /* margin: 15px; */
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}
.project-description {
    font-size: 20px;
}
.project strong {
    font-family: "Fjalla one", sans-serif ;

}
/* .project-date{ */
    /* margin: 10px 0; */
}

.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}


.project-details{
 width: 500px;
}

.project-imageConteiner{
    width: 500px;
   
}

.header{
    background-color:#1b2127 ;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 175px;
   align-items: center;
}

.menu {
    /* height: inherit; */
}

.header ol {
    display: flex;
    height: inherit;
}


.header li {
    display: flex;
}


.header ol li {
    height: inherit;
}


.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}



.flexbox{
    display: flex;
    flex-wrap: wrap;

}

.box{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    margin: 5px;
}

.footer {
    color: white;
background-color: #2c353e;
display: flex;
align-items: center;
 justify-content:space-between ;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}
.event-list{
    display: flex;
    flex-wrap: wrap;
    background: #263b50;
}
.event-list-title {
    margin-left: 20px;
    background: azure;
    border-radius: 20px;
}


.event {
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}
.event img{
    width: 400px;
    height: 200px;
    object-fit: cover;
}
.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background: white;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-description {
    text-align: left;
}
.event-url {
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;

}
.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social {
}


.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;

} 
.social-link.platzi {
    background-image: url("https://static.platzi.com/mf-landings/image/logotipo-platzi-768799552e5f26369e21a807b8a533f7.png");
}

.social-link.facebook {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/600px-Facebook_f_logo_%282019%29.svg.png");
}
.social-link.instagram {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/132px-Instagram_logo_2016.svg.png");
}
.social-link.github {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/600px-Octicons-mark-github.svg.png");
}
.form-email input {
border-color: gray;
padding: 10px 20px 10px 25px;
border-radius: 5px;
background-image: url("https://svgsilh.com/svg/44042.svg");
background-size: 15px 15px;
background-repeat: no-repeat;
background-position-y: center;
background-position-x: 5px;
}
.form-email button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}
.form-email h3 {
    font-family: 'source sans pro", sans-serif';
}
.container{
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}